@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  background-color: #F9FAFB;
  width: 100%;
  height: 100vh;
}

.background-image {
  background-image: url("./assets/loginImage/loginbg.jpeg");
}

.custom-shadow {
  box-shadow: 0rem 0.25rem 1.25rem 0rem rgba(0, 0, 0, 0.14),
    0rem 0.4375rem 0.625rem -0.3125rem;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for WebKit browsers */
  }

  /* Optional: Hide scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
    /* Firefox */
  }
}

/* ---------------------------------------------ICON STYLES------------------------------------------- */

.icon-style {
  @apply text-gray-400 hover:text-gray-hover cursor-pointer
}

.import-file-button {
  @apply mr-1 px-5 py-2 inline-block text-sm font-semibold tracking-wide bg-orange-900 rounded-3xl duration-300 hover:bg-orange-700 shadow-md text-white
}

/* ----------------------------------------MODAL----------------------------------- */

.modal-open {
  @apply fixed inset-0 overflow-auto
}

.modal-wrapper {
  @apply flex items-end justify-center min-h-screen pt-4 px-20 pb-20 text-center sm:block sm:p-0 rounded-lg
}

.modal-opacity {
  @apply fixed inset-0 transition-opacity
}

.modal-op {
  @apply absolute inset-0 bg-gray-500 opacity-75
}

.modal-content {
  @apply inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-xl sm:w-full
}

.modal-title-content {
  @apply bg-orange-200 px-4 pt-5 pb-4 sm:p-5 sm:pb-3
}

.modal-title-wrapper {
  @apply flex justify-between items-center
}

.modal-title {
  @apply text-xl font-semibold text-gray-900
}

.modal-section {
  @apply bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4
}

.cancel-button {
  @apply text-gray-700 hover:text-gray-900
}


/* -------------------------------------------EDIT MODAL STYLE------------------------- */

.edit-modal-content {
  @apply inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-4xl sm:w-full
}

.show-details-model {
  @apply inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-6xl sm:w-full
}

.light-divider {
  @apply my-3 mx-2 bg-gray-200 h-[1px]
}

.modal-button {
  @apply mt-2 text-right mb-4 mr-4
}

/* ------------------------------------------DELETE MODAL STYLE-------------------------------------- */

.delete-modal-wrapper {
  @apply flex items-end justify-center min-h-screen pt-4 px-20 pb-20 text-center sm:block sm:p-0 rounded-lg
}

.delete-modal-background {
  @apply fixed inset-0 transition-opacity
}

.delete-modal-opacity {
  @apply absolute inset-0 bg-gray-500 opacity-75
}

.delete-modal-body {
  @apply inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full
}

.delete-modal-container {
  @apply bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4
}

.delete-modal-content-div {
  @apply sm:flex sm:items-start
}

.delete-modal-content {
  @apply mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left
}

.delete-modal-confirm {
  @apply text-lg font-semibold leading-6 text-gray-900
}

.delete-modal-message {
  @apply text-lg leading-5 text-gray-500
}

/* ------This can be used for other modals------- */

.modal-button-container {
  @apply bg-gray-100 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse
}

.modal-button-span {
  @apply flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto
}

.delete-modal-button {
  @apply inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-orange-900 text-base leading-6 font-medium text-white shadow-sm hover:bg-orange-700 focus:outline-none focus:border-orange-900 transition ease-in-out duration-150 sm:text-sm sm:leading-5
}

.modal-cancle-button {
  @apply inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-gray-300 transition ease-in-out duration-150 sm:text-sm sm:leading-5
}


/* --------------------------------------------LOGIN PAGE STYLES-------------------------------------- */

.login-page-wrapper {
  @apply h-full bg-fixed bg-cover bg-no-repeat
}

.overlay {
  @apply w-full bg-opacity-50 bg-black flex flex-col items-center justify-between min-h-screen
}

.flex-container {
  @apply container mx-auto flex items-center justify-center flex-col w-full
}

.page-title {
  @apply my-[25px] px-5 py-[17px] bg-white p-8 rounded-[10px] shadow-xl w-10/12
}

.page-title h6 {
  @apply text-blue text-xl tracking-wider font-bold uppercase
}

.login-wrapper {
  @apply relative flex flex-col items-center w-[300px] bg-black mx-auto my-0 px-5 py-2.5 rounded-[10px] top-5
}

.signin-wrapper {
  @apply absolute w-64 text-white top-[-25px] mx-auto p-[17px] rounded-[10px] bg-orange-900 custom-shadow
}

.signin-wrapper h6 {
  @apply text-2xl font-extrabold leading-snug mb-0 text-center
}

.logo-wrapper {
  @apply flex items-center justify-center w-[80%] mt-12 mx-auto my-0 top-[50px]
}

.login-form-wrapper {
  @apply w-full float-left mt-4 mb-0 mx-0
}

.field-wrapper {
  @apply float-left w-full mx-0 my-1.5
}

.login-form-outline {
  @apply mb-3
}

.login-form-label {
  @apply block text-white
}

.login-form-input {
  @apply w-full mt-2 h-[34px] px-3 text-[13px] rounded-md border border-gray-500 focus:outline-none focus:border-orange-900
}

.toggle-label {
  @apply relative inline-flex items-center cursor-pointer mt-2
}

.toggle-text {
  @apply ms-3 text-sm text-white
}

.button-container {
  @apply text-center
}

.forgot-wrap {
  @apply w-full text-center underline mt-[15px] mb-2.5 mx-0 text-base font-bold text-white cursor-pointer
}

.footer-text {
  @apply text-center z-10 text-white mb-10
}

/* --------------------------------------------SIDEBAR STYLE--------------------------------------------- */

.sidebar {
  @apply min-h-screen w-[300px] bg-gray-main duration-[0.5s] ease-[ease] px-6 py-1.5 left-0 top-0 overflow-y-scroll scrollbar-hide
}

.sidebar-logo {
  @apply p-2 flex items-center h-16 w-48
}

.divider {
  @apply bg-gray-700 h-[1px] mt-2
}

.icons {
  @apply text-white
}

.sidebar-menu {
  @apply mt-4
}

.list-search {
  @apply duration-300 ease-linear cursor-pointer hover:bg-gray-hover rounded-3xl flex items-center justify-center p-2 shadow-lg bg-gray-600
}

.search-input {
  @apply text-base ml-4 w-full bg-transparent focus:outline-none text-white
}

.list {
  @apply mt-1 duration-300 ease-linear cursor-pointer hover:bg-gray-hover rounded-3xl flex items-center justify-center p-2 hover:rounded-xl
}

.list-items {
  @apply flex w-full items-center
}

.list-name {
  @apply text-[16px] font-semibold text-white tracking-wide
}

.list-dropdown {
  @apply mt-1 duration-300 ease-linear cursor-pointer hover:bg-gray-hover rounded-3xl flex flex-col items-start justify-center p-2 hover:rounded-xl
}

.list-items-dropdown {
  @apply flex w-full items-center justify-between
}

.sublist {
  @apply mt-1 cursor-pointer hover:bg-gray-hover p-2 rounded-3xl hover:rounded-xl duration-300
}

/* ---------------------------------------------TOPHEADER STYLES------------------------------------------- */

.topheader-wrapper {
  @apply p-4 shadow-lg flex justify-between items-center w-full
}

.topheader-breadcrum {
  @apply inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse
}

.topheader-searchbar {
  @apply w-1/3 cursor-pointer border rounded-3xl flex items-center p-2 shadow-sm
}

.topheader-searchbar-input {
  @apply text-sm ml-4 w-full bg-transparent focus:outline-none
}

/* ------------------------------------------ACADEMIC YEAR WRAPPER------------------------------------- */

.main-div {
  @apply overflow-x-hidden m-10 overflow-y-hidden
}

.ay-main-content {
  @apply h-full w-1/2 mx-auto flex-col
}

.ay-addyear-div {
  @apply flex mb-2 justify-between
}

.ay-header {
  @apply border-solid border border-gray-300 p-2 text-center text-lg font-semibold text-white bg-orange-900 mb-0 w-full rounded-xl
}

.ay-lists {
  @apply border border-solid border-gray-300 bg-white text-center text-lg font-medium text-gray-500 text-xl w-full p-1 rounded-lg hover:bg-gray-200
}

.ay-lists-icon {
  @apply float-right mr-2 cursor-pointer
}

/* ----------------------------------------------COMMON PAGE STYLES------------------------------------------ */

.main-page {
  @apply flex h-screen
}

.main-page-content {
  @apply flex-1 flex-col h-screen
}

.main {
  @apply h-full
}

.main-grid {
  @apply grid
}

.page-content {
  @apply h-full m-2 p-6
}

.top-card {
  @apply w-full border shadow-md p-4 border-gray-100 rounded-xl bg-white
}

.card-content {
  @apply flex justify-between
}

.card-header {
  @apply text-xl font-bold text-gray-600 mb-2
}

.card-title {
  @apply text-3xl font-bold text-gray-600 mb-2
}

.bottom-card {
  @apply w-full border shadow-md p-4 border-gray-100 rounded-xl bg-white mt-6
}

.accordion-card-open {
  @apply w-full border-2 bg-gray-200 rounded-md p-2
}

.accordion-card-close {
  @apply w-full border-2 rounded-md p-2
}

.accordion-details {
  @apply w-full flex justify-between cursor-pointer
}

.accordion-title {
  @apply text-lg ml-4 text-gray-main font-semibold
}

.accordion-content {
  @apply p-4 border-2 rounded-md bg-white
}

.important {
  @apply text-red-600
}

.gender-select {
  @apply mt-10 flex justify-around
}

.same-address {
  @apply text-xs mt-1 text-red-600
}

.save-and-cancle {
  @apply absolute bottom-2 right-4 mb-5 mr-4
}

/* -----------------------TABLE CSS------------------------ */
.table {
  @apply min-w-full border
}

.table-head {
  @apply sticky border top-0 text-left bg-orange-600 p-2 text-base font-semibold
}

.th {
  @apply border text-left bg-orange-600 p-2 text-base font-semibold
}

.td {
  @apply border p-2 text-base
}

/* -------------------PAGINATION WRAPPER------------------- */

.pagination-wrapper {
  @apply flex mt-4
}

.pagination-button {
  @apply mr-2 px-4 py-2 bg-orange-600 hover:bg-orange-300 rounded-xl shadow-lg
}

.span-pagination {
  @apply m-3 font-bold
}

/* ----------------INPUT, SELECT------------------ */

.form-input {
  @apply block text-base font-medium
}

.day-select {
  @apply w-[200px] text-sm p-2 mt-1 border text-gray-700 border-gray-300 rounded-md focus:outline-none focus:border-gray-400
}

.form-select {
  @apply w-full text-sm p-2 mt-1 border text-gray-700 border-gray-300 rounded-md focus:outline-none focus:border-gray-400
}

.form-date-select {
  @apply w-full text-sm p-2 mt-1 border text-gray-700 border-gray-300 rounded-md focus:outline-none focus:border-gray-400
}

.form-disabled {
  @apply form-select bg-gray-200
}

/* ----------------------------------PROGRAMS STYLES---------------------------------- */

.filter-label {
  @apply inline-flex items-center mr-6
}

.filter-name {
  @apply ml-2 text-base font-medium
}

/* --------------------------------------SCHEDULE MANAGEMENT STYLES-------------------------------- */

.schedule-main-page {
  @apply flex overflow-hidden
}

.Schedule-main-container {
  @apply flex-1 flex-col
}